.promotion{
	font-size: 30px; 
	background-color:#e68a00;
	color: white;
}

.welcome{
	background-color:#3f7d90;
	color:white;
}

.carouselForm{
	color:white; 
	font-weight: bold;
	font-size: 24px;
}

.carouselSize{
	height: 100%;
	width: 100%;
}

.hotmovieimage{
	width:140px;
	height:170px;
	margin-top:10px;
}

.hothit{
	font-size: 30px; 
	font-weight: bold;
	color:#4d4d33;
	margin-bottom: 50px;
}