.promotion{
	font-size: 30px; 
	background-color:#e68a00;
	color: white;
}

.welcome{
	background-color:#3f7d90;
	color:white;
}

.carouselForm{
	color:white; 
	font-weight: bold;
	font-size: 20px;
}

.hotmovieimage{
	width:140px;
	height:170px;
	margin-top:10px;
}

.hothit{
	font-size: 30px; 
	font-weight: bold;
	color:#4d4d33;
	margin-bottom: 50px;
}

.carousel {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

.glyphicon-fullscreen{
	font-size: 30px;
	margin-top:10px;
}

.h2shop{
	font-weight: bold;
	text-align: center;
}

.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
.intro .intro-body .brand-heading {
  font-size: 40px;
}
.intro .intro-body .intro-text {
  font-size: 18px;
}
@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 100px;
  }
  .intro .intro-body .intro-text {
    font-size: 26px;
  }
}

.indexBtn{
	font-size: 20px;
	margin-top: 10px;
	color:black;
	background-color: white;
}

.rdate{
  margin-top: -10px;
  margin-bottom: 5px;
  font-size: 10px;
}

.infoM{
  height: 300px;
  width: 240px;
}

.instocklabel{
  font-size: 16px;
  font-weight: bold;
  color:#3d3d29;
  background-color:#ffff33;
}

.btnbuy{
  font-weight: bold;
  font-size: 16px;
  color:#3d3d29;
}

.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.alert-danger{
  font-size: 15px;
  font-weight: bold;
}