.promotion{
	font-size: 30px; 
	background-color:#e68a00;
	color: white;
}

.welcome{
	background-color:#3f7d90;
	color:white;
}

.carouselForm{
	color:white; 
	font-weight: bold;
	font-size: 20px;
}

.hotmovieimage{
	width:140px;
	height:170px;
	margin-top:10px;
}

.hothit{
	font-size: 30px; 
	font-weight: bold;
	color:#4d4d33;
	margin-bottom: 50px;
}

.carousel {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

.glyphicon-fullscreen{
	font-size: 30px;
	margin-top:10px;
}