<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Shopping Page</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/heroic-features.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script> 
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/Angular/MovieController.js"></script>
    <script type="text/javascript" src="js/ui-bootstrap-tpls-2.2.0.min.js"></script>
</head>

<body ng-app = "MovieStore">

    <!-- Top Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="font-weight: bold">
        <div class="container" ng-controller = "MenuController">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="WelcomePage.html">Movie Store</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                      <a class="dropdown-toggle" id="contactMenu" data-toggle="dropdown">
                        GENRE
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="contactMenu">
                        <li ng-repeat = "item in genreList"><a href="ShoppingPage.html">{{item}}</a></li>
                      </ul>
                    </li>
                    <li>
                        <a href="#">FAQ</a>
                    </li>
                    <li class="dropdown">
                      <a class="dropdown-toggle" id="contactMenu" data-toggle="dropdown">
                        Contact
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="contactMenu">
                        <li ng-repeat = "item in contactlist"><a href="#">{{item}}</a></li>
                      </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Login</a>
                    </li>
                    <li>
                        <a href="#">Register</a>
                    </li>
                    <li ng-show = "false">
                        <a href="#">Logout</a>
                    </li>
                    <li>
                        <a href="http://www.google.com" class ="glyphicon glyphicon-search"></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Genre Checkbox-->
    <div ng-controller = "MovieController">
        <div class="container">
            <h1>Genre</h1>
            <div class="btn-group">
                <label class="btn btn-success col-md-2" ng-repeat = "genre in genreList" ng-model="checkModel.genre" uib-btn-checkbox ng-click="FilterByGenre($index)" style="text-align: left"> 
                    <span class = "glyphicon glyphicon-check" ng-show = "checkModel.genre" style="margin-left: 25px"></span> 
                    <span class = "glyphicon glyphicon-unchecked" ng-show = "!checkModel.genre" style="margin-left: 25px"></span>
                    {{"  "+genre}}
                </label>        
            </div>
        </div>

        <!-- Page Content -->
        <div class="container" style="margin-top: 20px">

            <div class="row">
                <div class="col-md-3">
                    <p class="lead">Categories</p>
                    <div class="list-group">
                      <button class="list-group-item" ng-click = "SelectCategories(0)" ng-style ="catStyle[0]">{{catList[0]}}</button>
                      <button class="list-group-item" ng-click = "SelectCategories(1)" ng-style ="catStyle[1]">{{catList[1]}}</button>
                      <button class="list-group-item" ng-click = "SelectCategories(2)" ng-style ="catStyle[2]">{{catList[2]}}</button>
                      <button class="list-group-item" ng-click = "SelectCategories(3)" ng-style ="catStyle[3]">{{catList[3]}}</button>
                      <button class="list-group-item" ng-click = "SelectCategories(4)" ng-style ="catStyle[4]">{{catList[4]}}</button>
                    </div>
                </div>

                <div class="col-md-9">
                    <h2 class = "h2shop" ng-repeat = "list in catList" ng-show = "{{'wasSelect['+$index+']'}}">{{list}}</h2>
                    <div class="row" ng-show = "wasSelect[0]">
                        <div class="col-sm-3 col-lg-3 col-md-3" ng-repeat = "movie in movies" style="height: 290px;">
                            <div class="thumbnail" style="height: 270px;">
                                <img src="{{movie.image}}" alt="" class="hotmovieimage img-rounded ">
                                <div class="caption text-center">
                                    <p style="font-weight: bold;font-size: 13px">{{movie.nameEN}}</p>
                                    <p style="font-size: 12px;margin-top: -10px">{{movie.nameTH}}</p>
                                    <p style="margin-top: -10px"> ราคา {{movie.price2}} บาท</p>
                                </div>                           
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show = "wasSelect[1]">
                        <div class="col-sm-3 col-lg-3 col-md-3" ng-repeat = "movie in salemovies" style="height: 290px;">
                            <div class="thumbnail" style="height: 270px;">
                                <img src="{{movie.image}}" alt="" class="hotmovieimage img-rounded ">
                                <div class="caption text-center">
                                    <p style="font-weight: bold;font-size: 13px">{{movie.nameEN}}</p>
                                    <p style="font-size: 12px;margin-top: -10px">{{movie.nameTH}}</p>
                                    <p style="margin-top: -10px"> ราคา {{movie.price2}} บาท</p>
                                </div>                           
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show = "wasSelect[2]">
                        <div class="col-sm-3 col-lg-3 col-md-3" ng-repeat = "movie in hotmovies" style="height: 290px;">
                            <div class="thumbnail" style="height: 270px;">
                                <img src="{{movie.image}}" alt="" class="hotmovieimage img-rounded ">
                                <div class="caption text-center">
                                    <p style="font-weight: bold;font-size: 13px">{{movie.nameEN}}</p>
                                    <p style="font-size: 12px;margin-top: -10px">{{movie.nameTH}}</p>
                                    <p style="margin-top: -10px"> ราคา {{movie.price2}} บาท</p>
                                </div>                           
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show = "wasSelect[3]">
                        <div class="col-sm-3 col-lg-3 col-md-3" ng-repeat = "movie in movies" style="height: 290px;">
                            <div class="thumbnail" style="height: 270px;">
                                <img src="{{movie.image}}" alt="" class="hotmovieimage img-rounded ">
                                <div class="caption text-center">
                                    <p style="font-weight: bold;font-size: 13px">{{movie.nameEN}}</p>
                                    <p style="font-size: 12px;margin-top: -10px">{{movie.nameTH}}</p>
                                    <p style="margin-top: -10px"> ราคา {{movie.price2}} บาท</p>
                                </div>                           
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show = "wasSelect[4]">
                        <div class="col-sm-3 col-lg-3 col-md-3" ng-repeat = "movie in movies" style="height: 290px;">
                            <div class="thumbnail" style="height: 270px;">
                                <img src="{{movie.image}}" alt="" class="hotmovieimage img-rounded ">
                                <div class="caption text-center">
                                    <p style="font-weight: bold;font-size: 13px">{{movie.nameEN}}</p>
                                    <p style="font-size: 12px;margin-top: -10px">{{movie.nameTH}}</p>
                                    <p style="margin-top: -10px"> ราคา {{movie.price2}} บาท</p>
                                </div>                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class = "col-md-offset-3" aria-label="Page navigation">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">10</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>        
        </div> <!-- /.container -->
    </div> <!-- /.ng-controller =  -->
    

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

</body>

</html>
